@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root {
    --primary-color: #626b4dff;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "EB Garamond";
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin: 0;
    padding: 0;
    color: var(--primary-color);
}

.column {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
    background-image: url('anel.png');
    background-repeat: no-repeat;
    background-position: center;
}

.column-confirmado {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;

}


.column-map {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
    background-repeat: no-repeat;
    background-position: center;
}

.column-footer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row-left {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    position: absolute;
    top: 0;
    opacity: 0.7;
    z-index: 0;
}

.row-rigth {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    position: absolute;
    bottom: 0;
    opacity: 0.7;
    z-index: 0;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.text1 {
    font-weight: 300;
    text-align: center;
}

.text2 {
    font-weight: 600;
    text-align: center;
}

.text3 {
    font-size: 18px;
    text-align: center;
}

.material-icons {
    color: var(--primary-color);
    font-size: 28px;
    margin-right: 5px;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.tip {
    padding-bottom: 2px;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    z-index: 1;
}

.button {
    margin-top: 10px;
    background-color: var(--primary-color);
    color: white;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.button-outline {
    background-color: white;
    color: var(--primary-color);
    /* border: 1px solid var(--primary-color); */

    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}


.pix {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}


.buttonPix {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    color: grey;
    font-size: 20px;
    font-family: "EB Garamond";
    font-weight: bold;

}

.banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-horizontal {
    background-color: orange;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: auto; /* Permite a rolagem horizontal */
    white-space: nowrap; /* Impede quebra de linha, garantindo o formato horizontal */
}

.list-horizontal::-webkit-scrollbar {
    display: none; /* Esconde a barra de rolagem */
}

.item-list {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 180px;
    flex-shrink: 0;
    text-align: left;
    margin-left: 10px;
    height: 300px;
}